/* Your styles should be mobile-first and responsive */

/**
  * If you are unclear on how to utilize a mobile-first, responsive technique to write your CSS, here is an example:
  *
  * https://github.com/andreacardybailey/responsive_example/blob/master/styles/responsive-base.css
  *
*/

html{
box-sizing: border-box;
background-image: url('./tchbckgrnd.png');
background-repeat: round;
width: 100%;
}


button:hover{
  border: groove;
  background: black;
  color:aquamarine;
}

.start-page{
  display: flex;
  font-size: 33px;
  flex-direction: column;
  text-align: center;
  align-items: center;
  border: black solid 3px;
  color:greenyellow;
  font-family: monospace;
  padding:60px;
}

.question-page{
  display: flex;
  font-size: 25px;
  flex-direction: column;
  text-align: center;
  align-items: center;
  border: black solid 3px;
  background-color:greenyellow;
  font-family: monospace;
  padding:40px;
  opacity: 0.7;
}

.score-page{
  display: flex;
  font-size: 35px;
  flex-direction: column;
  text-align: center;
  align-items: center;
  border: black solid 3px;
  background-color: aquamarine;
  font-family: monospace;
  padding:80px;
}

.submit-answer-button{
  padding:40px;
}

.multiple-choice-button{
  display: flex;
  flex-direction:column;
  align-items: center;
}

.correct-answer{
color: greenyellow;
font-size: 40px;
font-family: monospace;
display: flex;
text-align: center;
align-items: center;
}

.incorrect{
  color:crimson;
}

.score{
  color:rgb(27, 61, 173);
}

label{
  padding:10px;
}